<div>
  <h1>Create Team</h1>

  <%= form_for(@team) do |t|%>
    <h3>Team Name:</h3>
    <%= t.text_field :name, placeholder: "Team Name" %><br><br>

    <h3>Assign Players</h3>
    <%= t.collection_check_boxes :player_ids, Player.all, :id, :first_name, {}, { multiple: true} %>

    <%= t.submit 'Sign Up' %>

  <% end %>
</div>
