<div class="topnav">

  <div class="topnav-centered">
    <img src="/assets/sportsMGR_transparent.png" alt="Company Logo">
  </div>

  <a href="#news">Home</a>
  <a href="#contact">Contact</a>

  <div class="topnav-right">

  </div>

</div>
