<div class="topnav">

  <div class="topnav-centered">
    <img src="/assets/sportsMGR_transparent2.png" alt="Company Logo">
  </div>

  <%= link_to "Home", root_path %>

  <div class="topnav-right">
    <% if session[:user_id] == nil %>
      <div>
        <%= link_to "Login", login_path, class: "button" %>
        <%= link_to "Create Account", new_coach_path, class: "button" %>
      </div>
    <% else %>
    <div>
    <%= link_to "Logout", logout_path %>
  </div>
  <% end %>
</div>
</div>
